<iframe src="https://seahorse-app-fstfy.ondigitalocean.app/exitiframe?embedded=1&hmac=b82e4137dc4400631cfb56fd54a1073c8d33df41abb74ccc18fc5e773c89bb62&host=YWRtaW4uc2hvcGlmeS5jb20vc3RvcmUvc3Bpbnktd2hlZWw&id_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczpcL1wvc3Bpbnktd2hlZWwubXlzaG9waWZ5LmNvbVwvYWRtaW4iLCJkZXN0IjoiaHR0cHM6XC9cL3NwaW55LXdoZWVsLm15c2hvcGlmeS5jb20iLCJhdWQiOiIzMWZiNjZjMWI3Yzk2NzAzMmUwMTEzNjBjYTdiMjQxMSIsInN1YiI6IjExMTIzNDM4NDE5MCIsImV4cCI6MTcyMzAzNjQ5OSwibmJmIjoxNzIzMDM2NDM5LCJpYXQiOjE3MjMwMzY0MzksImp0aSI6ImY3ZGU5NWZhLWYxNmUtNDI4NC05OGI2LWJjYzhmN2EyYTU3NyIsInNpZCI6ImExMDBhZTFjLWUxMTQtNGEyMy1iMDIyLTNkMDU0ZjdjZmFmYyIsInNpZyI6IjgzNzAwZTI2ZTZjMTNkNjFlMDY3M2ZiMmQyNjhmMWRmNGIzNzVkMzE0MWE5NGMwZDNlYjBlOWIzNjI2YjJjMzIifQ.d47SS30HLNdI-Tw4vcomQ82iO_TVSAnAFIqsE-9Rwak&locale=en-IN&prefetch=1&session=b25c138443d002718e5624ffb5f5374bd7e4e4a82f127cfc93cb42ead479703f&shop=spiny-wheel.myshopify.com&timestamp=1723036439&redirectUri=https%3A%2F%2Fseahorse-app-fstfy.ondigitalocean.app%2Fapi%2Fauth%3Fshop%3Dspiny-wheel.myshopify.com%26host%3DYWRtaW4uc2hvcGlmeS5jb20vc3RvcmUvc3Bpbnktd2hlZWw" width="100%" height="600px" sandbox="allow-scripts allow-same-origin"></iframe>


<div id="container">
</div>

{% schema %}
  {
    "name": "React Block",
    "target": "section",
    "javascript": "hello.jsx",
    "stylesheet": "style.css",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Spin"
    }
  ]
  }
{% endschema %}