<iframe src="{{ https://seahorse-app-fstfy.ondigitalocean.app/ }}" sandbox="allow-scripts *"></iframe>

<div id="container">
</div>

{% schema %}
  {
    "name": "React Block",
    "target": "section",
    "javascript": "hello.jsx",
    "stylesheet": "style.css",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Spin"
    }
  ]
  }
{% endschema %}