<iframe src="{{ https://seahorse-app-fstfy.ondigitalocean.app/ }}" sandbox="allow-scripts *"></iframe>

{% comment %} <style>
  #sample{
    position: fixed;
    top: 0;
    left: 0;
    columns: #ff0000;
    background-color: white;
    padding: 20px;
    z-index: 100
  }
  #root{
    position: fixed;
    top: 10px;
    left: 0;
    columns: #ff0000;
    background-color: white;
    pad: 20px;
    z-index: 100
  }
</style>

<p id="sample">SPIN the wheel</p>
<div id="root"></div>

 {% endcomment %}
